body {
    text-align: center;
}

.choice-btn{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border: none;
    border-radius:40% 40% ;
    margin: 7px;
    cursor: pointer;

}
.choice-img{
    height: 100px;
    width: 100px;
    border-radius: 60% 60%;

}
.reset{
    height: 80px;
    width: 80px;
    color: red;
    border: none;
    background-color: aqua;
    font-weight: 600;
    border-radius: 50% 50%;
    cursor: pointer;

}